.lock {
    display: block;
}

.menu {
    display: none;
}

.rehber {
    display: none;
}

.addRehber {
    display: none;
}

.Person {
    display: none;
}

.keypad {
    display: none;
}

.darkchat {
    display: none;
}

.twitterapp {
    display: none;
}

.messageapp {
    display: none;
}

.mesajgonderapp {
    display: none;
}

.aramaekrani {
    display: none;
}

.konusmaekran {
    display: none;
}

.settingsapp {
    display: none;
}

.bankapp {
    display: none;
}
